h1{
    color: blue;
    background: aqua;
    text-shadow: 5px 5px 5px black;
    border-radius: 20px;
    text-align: center;
}
h2{
    color: rgb(0, 255, 157);
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    text-align: center;
}
body{
    background-color: white;
}
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    text-align: justify;
}